<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="receptor-evento">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <h2>Receptor</h2>
   <h3>Este curso es [[course]]</h3>
   <h3>y estamos en el año [[year]]</h3>
   <input type="text" value="{{course::input}}"></input>

 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class ReceptorEvento extends Polymer.Element {
     static get is() { return 'receptor-evento'; }
     static get properties() {
       return {
         course: {
           type: String,
           observer: '_courseChanged'
         },year: {
           type :String
         }
       };
     }
     _courseChanged(newValue, oldValue) {
   console.log("Course value has changed");
   console.log("Old value was " + oldValue);
   console.log("New value is " + newValue);
 }
   }

   window.customElements.define(ReceptorEvento.is, ReceptorEvento);
 </script>
</dom-module>
