<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="page-not-found">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <h2>Aquí no hay nada que ver ahora</h2>

 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class PageNotFound extends Polymer.Element {
     static get is() { return 'page-not-found'; }
     static get properties() {
       return {
       };
     }
   }

   window.customElements.define(PageNotFound.is, PageNotFound);
 </script>
</dom-module>
